<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PinmenuMobileER">
        <activity
            android:name=".more.TimezoneActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".PrinterActivity" />
        <activity
            android:name=".more.SetUseLangActivity"
            android:exported="false" />
        <activity
            android:name=".more.TipTaxActivity"
            android:exported="false" />
        <activity
            android:name=".more.SetMenuUiActivity"
            android:exported="false" />
        <activity
            android:name=".more.SetStoreImgActivity"
            android:exported="false" />
        <activity
            android:name=".more.SetActivity"
            android:exported="false" />
        <activity
            android:name=".more.MemberSetActivity"
            android:exported="false" />
        <activity
            android:name=".qr.EventPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".qr.SetEventActivity"
            android:exported="false" />
        <activity
            android:name=".menu.AddOptActivity"
            android:exported="false" />
        <activity
            android:name=".menu.AddGoodsActivity"
            android:exported="false" />
        <activity
            android:name=".menu.SetGoodsActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ChangeMenuSeqActivity"
            android:exported="false" />
        <activity
            android:name=".menu.ChangeCateSeqActivity"
            android:exported="false" />
        <activity
            android:name=".menu.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".menu.SetCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".pg.PgCancelActivity"
            android:exported="false" />
        <activity
            android:name=".pg.PgHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".more.SetCustomerInfoActivity"
            android:exported="false" />
        <activity
            android:name=".common.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".qr.QrDetailActivity"
            android:exported="false" />
        <activity
            android:name=".member.MasterLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".history.ByHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".printer.SelectCateActivity"
            android:exported="false" />
        <activity
            android:name=".printer.ContentSetActivity"
            android:exported="false" />
        <activity
            android:name=".printer.DetailPrinterActivity"
            android:exported="false" />
        <activity
            android:name=".common.SelectStoreActivity"
            android:exported="false" />
        <activity
            android:name=".printer.SetConnActivity"
            android:exported="false" />
        <activity
            android:name=".printer.SupportPrinterActivity"
            android:exported="false" />
        <activity
            android:name=".store.RegStoreActivity"
            android:exported="false" />
        <activity
            android:name=".member.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".member.FindPwdActivity"
            android:exported="false" />
        <activity
            android:name=".member.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".member.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_noti" />

        <service
            android:name=".fcm.MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>